node-red/data/flows.json
[
    {
        "id": "lab_modbus_tab",
        "type": "tab",
        "label": "Modbus Lab",
        "disabled": false,
        "info": "Python modbus-poller → MQTT → визуализация и алерты"
    },
    {
        "id": "lab_mqtt_broker",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-lab",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "lab_mqtt_in",
        "type": "mqtt in",
        "z": "lab_modbus_tab",
        "name": "lab/modbus/#",
        "topic": "lab/modbus/#",
        "qos": "0",
        "datatype": "json",
        "broker": "lab_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [["lab_parse_fn"]]
    },
    {
        "id": "lab_parse_fn",
        "type": "function",
        "z": "lab_modbus_tab",
        "name": "Parse Modbus JSON",
        "func": "if (!msg.payload || !msg.payload.ok) {\n    node.warn('Modbus poll failed: ' + (msg.payload && msg.payload.error || 'unknown'));\n    return null;\n}\n\nconst m = msg.payload.metrics || {};\nconst fuel = m.fuel_percent ? m.fuel_percent.value : null;\nconst rpm = m.rpm ? m.rpm.value : 0;\n\nmsg.device = msg.payload.device_id;\nmsg.ts = msg.payload.ts;\nmsg.payload = {\n    device: msg.payload.device_id,\n    fuel_percent: fuel,\n    rpm: rpm,\n    voltage_v: m.voltage_v ? m.voltage_v.value : null,\n    coolant_c: m.coolant_c ? m.coolant_c.value : null,\n    engine_state: m.engine_state ? m.engine_state.value : null,\n    summary: Object.entries(m).map(([k,v]) => `${k}=${v.value}${v.unit ? ' '+v.unit : ''}`).join(' | ')\n};\n\n// flow context — последние значения для UI/логики\nflow.set('last_' + msg.device, msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [["lab_debug_all", "lab_fuel_alert"]]
    },
    {
        "id": "lab_debug_all",
        "type": "debug",
        "z": "lab_modbus_tab",
        "name": "metrics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.summary",
        "targetType": "msg",
        "statusVal": "payload.summary",
        "statusType": "msg",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "lab_fuel_alert",
        "type": "switch",
        "z": "lab_modbus_tab",
        "name": "fuel < 20%",
        "property": "payload.fuel_percent",
        "propertyType": "msg",
        "rules": [
            {"t": "lt", "v": "20", "vt": "num"},
            {"t": "else"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 160,
        "wires": [["lab_low_fuel"], []]
    },
    {
        "id": "lab_low_fuel",
        "type": "function",
        "z": "lab_modbus_tab",
        "name": "Low fuel event",
        "func": "msg.payload = {\n    level: 'warning',\n    text: `LOW FUEL ${msg.device}: ${msg.payload.fuel_percent}%`\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [["lab_debug_alert"]]
    },
    {
        "id": "lab_debug_alert",
        "type": "debug",
        "z": "lab_modbus_tab",
        "name": "alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "lab_comment",
        "type": "comment",
        "z": "lab_modbus_tab",
        "name": "Стек: mock-modbus → modbus-poller (Python/pymodbus) → MQTT → Node-RED",
        "info": "Редактируй register map в modbus-poller/registers.yaml\nПодключи реальный ПЛК: host/port/unit_id в том же файле.",
        "x": 340,
        "y": 40,
        "wires": []
    }
]
